.welcome-screen {
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-active .section {
    padding: 0;
    display: flex;
    align-items: center;
}

.welcome-active .container {
    padding: 0;
}

.welcome-active .box.theme-card {
    margin: 0 1rem;
}

.version-label {
    text-align: center;
    color: #7a7a7a;
    font-size: 0.75rem;
    margin-top: 1rem;
    opacity: 0.5;
}
